.header {
    text-align: center;
}

.navegacao {

    padding:5px;
    position: relative;
    top: 15px; 
    text-align: center;
}

.imagem01 { padding: 150px;
     position: relative;
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
