body{ text-align: center;
    background-color: rgb(199, 165, 171);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    margin: 5%;
}
#bestIdea{ background-color: rgb(199, 165, 171);

}