*{
  font-style: normal;

}

body{ text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    margin: 5%;
}
main{ background: rgb(183,233,223);
    background: linear-gradient(0deg, rgba(183,233,223,1) 75%, rgba(204,159,196,1) 100%);

}